* {
  box-sizing: border-box;
}


#cabecera{
  background-color: black;
}


#login{
  padding: 0;
  color: white;
  background-color: green;
  width: 15em;
  margin-left: 100em;
}

#login > ul {
  list-style-type: none;
}

#login > ul > li{
  display: inline-block;
}

#header {
  padding: 1em;
  background-color: white;
  color: black;
}

#header > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

  margin-left: 70em;
  margin-top: -2em;
}

#header > ul > li {
  display: inline-block;
  padding: 0.5em;
  text-align: left;
}

#hhh{
  display: inline-block;
}

#contenido{
  padding: 7em;
  text-align: center;
  background-image: url(fotos-elearning/joven-trabajando-computadora-portatil-manos-hombre-computadora-portatil-persona-negocios-lugar-trabajo_158538-8138.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  list-style-type: none;
}

#contenido h1 {
  color: green;
}

#content > ul{
  list-style-type: none;
}

#main-banner{
  display: inline-block;
}

#main-banner ul > li{

  display: grid;
  grid-template: 1fr 1fr 1fr 1fr;
}


#footer {
  background-color: #1f2022;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 5em;
  padding-right: 5em;
  margin-top: 8em;
}


#footer h6 {
  font-size: 1em;
}

#footer ul {
  font-size: 0.8em;
}


.footer-column{
 margin: 4em;
margin-top: 6em;
}

.footer-column ul {
  list-style-type: none;
  margin-top: 3em;
  padding: 0;
}

.boton-buscador{
  background-color: green;
  padding: 0.5em;
  margin-left: -1em;
  color: white;

}

.buscador{
    padding: 0.5em;
}


.footer-column li:hover{
  color: green;
}

#header li:hover{
  color: green;
}

@media (max-width: 1024px) {


  #footer {
    grid-template-columns: 1fr;
  }

  .footer-column {
    text-align: center;
    font-size: 2em;
  }

  .footer-column h6 {
    margin-bottom: 1em;
  }

  .footer-columns {
    grid-template-columns: 1fr;
  }

}
